@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat:900");

body{
    height:800px;
}

.backgrd{
  /*animation: sliding-background 40s linear infinite;*/
  background: url("soundwaves2.gif") no-repeat left / 100%;
  /*animation: animatedBackground 60s linear infinite alternate;*/
  background-size:100% 100%;
  height:300px;
  width:300px;
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);  
  box-shadow: 0 0px 0 red, 0 0px 0 red, 0 0px 60px magenta;
}

.backgrd3{
  background-size:900px;
  overflow-y:auto; 
  background-color:#190114;
  background-image:url('hands.jpeg'); 
  background-position:center;
  background-repeat:no-repeat;
  box-shadow: 440 404px 4440 red, 4440 4440px 4440 red, 4044 500px 600px magenta;
}

.title-blk {
        position: fixed;
        text-align: center;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);      
   }

.homeplayer {
        position: fixed;
        text-align: center;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);      
   }
.playbtn, .pausebtn{
  background-color: transparent;
  border:none;
  font-size:25px;
}

.pausebtn{
  display:none;
}
.hideplay{
  display:none;
}

.funkytitle {
  position: fixed;
  text-align: center;
  top: -455%;
  left: 50%;
  transform: translate(-50%, -50%);   
  display: block;
  color: #cf1b1b;
  font-size: 70px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  line-height: 60px;
}
.btn{
  position: relative;
  top:120px;
  border-color: white;
  }

.funkytitle::before {
  content: "Spotify API";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
  animation:mymove 1s alternate;
  animation-iteration-count:infinite;
}

.funkytitle::after {
  content: "Spotify API";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
  animation:mymove2 1s alternate;
  animation-iteration-count:infinite;
}

/*Changed from on hover, to being consistent loop animation
.funkytitle:hover:before {
  top: 10px;
  left: 10px;
}

.funkytitle:hover:after {
  top: -10px;
  left: -10px;
} 
*/

@keyframes mymove{
  from {top:0px; left:0px}
  to{top:0px; left:10px}
}
@keyframes mymove2{
  from {top:0px; left:0px}
  to{top:0px; left:-10px}
}


 @keyframes sliding-background {
	 0%, 100% {
		 background-position: 0 40%;
	}
	 50% {
		 background-position: 100% 40%;
	}
}

  
  /*menu bar*/

.menu{
  position:fixed ;
  left:0;
  top:0;
  z-index: 3;
  width:100%;
}
.menubtn{
  display: inline-block;
  cursor: pointer;
  border-style: hidden;  
  margin:5px;
  background-color:hidden;
}
.menubar1,.menubar2,.menubar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.banner{
  display: inline-block;
  height:50px;
  background-color: white;
  border-bottom:solid;
  border-color: black;
  width:100%;
}

.change .menubar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .menubar2 {opacity: 0;}

.change .menubar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.dropdown {
  display:none;
  position:relative;
  bottom:6px;
  background-color: blueviolet;
  overflow: hidden;
  font-family: sans-serif;
}
.preview{
  display:none;
  position:relative;
  top:40px;
}

.showme {
  display:block;
  margin:auto;
}

audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
  background-color: rgb(201, 121, 201);
}

/*menu bar:links */
.dropdown a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
}
.dropdown a:hover {
  background-color: #ddd;
  color: black;
}




.footer{
  color:#222; font-size:16px; font-weight:400;
  background-color: white;
  color: white;
}
   .madeby{
     color:#c50000;
   }
   .paulmatthew{
     color: black;
   }