@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

form{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: white;     
}
.form-control {
  border-radius: 100px;
  font-family: "sans-serif";
  font-size: 15px;
  max-width:80%;
}

.btn-success {
  width:130px;
  background-color: #3b7d4a im !important;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-family: "sans-serif";
  font-size: 20px;
  height:40px;
  position: relative;
  top:20px;
  }

.btn-success:hover {
  background-color: #54795d;
  transition: 0.2s;
}

@media (orientation:portrait){
  .parent-container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin:auto;
    }
}

@media (orientation:landscape) and (max-height:300px){
  .parent-container{
    position: absolute;
    bottom:-180%;
    left:50%;
    transform: translate(-90%,-90%);
    margin:auto;
    height:450px;
    }
}
@media (orientation:landscape) and (max-height:540px){
  .parent-container{
    position: absolute;
    top:80%;
    left:50%;
    transform: translate(-50%,-50%);
    margin:auto;
    height:450px;
    }
}
@media (orientation:landscape) and (min-height:540px){
  .parent-container{
    position: absolute;
    top:53%;
    left:50%;
    transform: translate(-50%,-50%);
    margin:auto;
    height:450px;
    }
}
@media (orientation:portrait){
  .parent-container{
    height:450px;
    }
}

.parent-container{
position: absolute;
text-align: center;
border-style: hidden;
  width: 100%;
  margin:auto;
}
.output-container{
  position: relative;
  top:20px;
  border: hidden;
  border-style: hidden;
  width:100%;
  display:flex;
  
}
.tracks-container{
  width:50%;
  border-style: hidden;
}
.tracks{
width:100%;
max-width:400px;
border:hidden;
margin-left:2px;
float:right;
border-style: hidden;
}
.song{
  position:relative;
  color: white;
  font-size: 15px;
  width:50%;
  text-align: center;
  border-style: hidden;
  margin-left:auto;
  margin-right:auto;
  display:block;
  border-color: red;
}
.songimg{
  position:relative;
  color: white;
  font-size: 15px;
  width:100%;
  text-align: center;
  border-style: solid;
  margin-left:auto;
  margin-right:auto;
  display:block;
  border-style:hidden;
  border-color: red;
}

.background2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.preview{
  position:relative;
  top:40px;

}

